
.paddingLateral {
	padding: 0 5%;
}

#login{
		background-color: #ffffff;
		padding-top: 30px;
		padding-bottom: 30px;
}

.centrarVertical{
	margin-top: 17%;
}

.centrarHorizontal {
	margin-left: 35%;
}


.textvertical{
	padding-top:12px;
}


.buttonMargin {
	margin-left: 20px;
	margin-right: 20px;
}