body {
		background-color: #f1f1f1;
}

.login{
		background-color: #ffffff;
		padding-top: 30px;
		padding-bottom: 30px;
}

.centrarVertical{
	margin-top: 13%;
}

.margenTopContainer{
	margin-top: 5%;
}

.alinearHorizontal {
	margin:0% 20% 0% 38%;
}

h4.headerInline{
	display: inline;
}

