
.paddingLateral {
	padding: 0 5%;
}

#login{
		background-color: #ffffff;
		padding-top: 30px;
		padding-bottom: 30px;
}

.centrarVertical{
	margin-top: 13%;
}

.margenTopContainer{
	margin-top: 5%;
}

.centrarHorizontal {
	margin-left: 35%;
}


.textvertical{
	padding-top:12px;
}

h4.headerInline{
	display: inline;
}

.buttonMargin {
	margin-left: 20px;
	margin-right: 0px;
}

.sidebar{
	background-color: #F2F2F2;
}
